<div class="portfolio-section">
    <div class="app-container">
        <div class="portfolio-content section-padding">
            <div class="main-title-wrapper">
                <div class="title-label">4+ Years of Experience</div>
                <h1 class="main-title">My Portfolio</h1>
            </div>
            <div class="portfolio-list">
                <a href="https://www.saim.edu.np/" class="portfolio-item" target="_blank">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-image">
                            <img [src]="'assets/images/pages/main.png'" alt="project.name">
                        </div>
                        <div class="icon">
                            <img [src]="'assets/images/pages/search.svg'" alt="project.name">
                        </div>
                        <div class="portfolio-item-content">
                            <h4>Hello World</h4>
                        </div>
                    </div>
                </a>
                <a href="https://www.saim.edu.np/" class="portfolio-item" target="_blank">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-image">
                            <img [src]="'assets/images/pages/main.png'" alt="project.name">
                        </div>
                        <div class="icon">
                            <img [src]="'assets/images/pages/search.svg'" alt="project.name">
                        </div>
                        <div class="portfolio-item-content">
                            <h4>Hello World</h4>
                        </div>
                    </div>
                </a>
                <a href="https://www.saim.edu.np/" class="portfolio-item" target="_blank">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-image">
                            <img [src]="'assets/images/pages/main.png'" alt="project.name">
                        </div>
                        <div class="icon">
                            <img [src]="'assets/images/pages/search.svg'" alt="project.name">
                        </div>
                        <div class="portfolio-item-content">
                            <h4>Hello World</h4>
                        </div>
                    </div>
                </a>
                <a href="https://www.saim.edu.np/" class="portfolio-item" target="_blank">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-image">
                            <img [src]="'assets/images/pages/main.png'" alt="project.name">
                        </div>
                        <div class="icon">
                            <img [src]="'assets/images/pages/search.svg'" alt="project.name">
                        </div>
                        <div class="portfolio-item-content">
                            <h4>Hello World</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>