<div class="portfolio-section">
    <div class="app-container">
        <div class="portfolio-content section-padding">
            <div class="main-title-wrapper">
                <div class="title-label">4+ Years of Experience</div>
                <h1 class="main-title">My Portfolio</h1>
            </div>
            <div class="portfolio-list">
                <!-- <div class="portfolio-item" *ngFor="let project of projects">
                    <div class="portfolio-item-image">
                        <img [src]="project.image" alt="project.name">
                    </div>
                    <div class="portfolio-item-content">
                        <h2>{{ project.name }}</h2>
                        <p>{{ project.description }}</p>
                        <a [href]="project.url" target="_blank">View Project</a>
                    </div>
                </div> -->
                <div class="portfolio-item">
                    <div class="portfolio-item-inner">
                        <div class="portfolio-item-image">
                            <img [src]="'assets/images/pages/main.png'" alt="project.name">
                        </div>
                        <div class="portfolio-item-content">
                            <h2>Hello WOrld</h2>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, dolores.</p>
                            <a href="#" target="_blank">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>