:root {
  //font-weight;
  --fw-2: 200;
  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;
  --fw-9: 900;
  //font-weight end;

  //   color
  --primary: #1e90ff;
  --bg-color: #212428;
  --side-bg: #121212;
  --white: #e3e3e3;
  --black: #000000;
  --off-white: #c4cfde;
  //   color end

  //shadow
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  //shadow end

  // liner gradient
  --bg-1: linear-gradient(145deg, #1e2024, #23272b);
  --bg-2: linear-gradient(to right bottom, #212428, #16181c);
  // liner gradient end
}
