<div class="resume-section">
    <div class="app-container">
        <div class="resume-tab section-padding">
            <div class="main-title-wrapper">
                <div class="title-label">4+ Years of Experience</div>
                <h1 class="main-title">My Resume</h1>
            </div>
            <mat-tab-group>
                <mat-tab label="Education">
                    <div class="tab-body-wrapper">
                        <div class="row gx-0">
                            <div class="col-md-6 bg-success">
                                Education
                            </div>
                            <div class="col-md-6 bg-danger">
                                Education
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Professional Skills"> Professional Skills </mat-tab>
                <mat-tab label="Experiance"> Experiance </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>